ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #1d6e00;
}

.active {
  background-color: #04AA6D;
}

.signin{
    width:400px;
    height:320px;
    margin:5% 30%;
    padding:30px;
    text-align:center;
    box-shadow: 0 12px 40px rgb(0 0 0 / 12%);
    background-color: white;
    border-radius:10px;
}

.form-input{
	width:90%;
    height:50px;
    font-size:16px;
    margin-top:10px;
}

.form-button{
	width: 92%;
    height: 50px;
    font-size: 16px;
    background: rgb(0,89,214);
    color: white;
    border-radius: 3px;
    border:none;
}

#msg{
    display:none;
  	background: red;
    color:black;
    margin:16px;
    width:92%;
    font-size:16px;
}

